@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
  .maindiv{position: relative;}
  .contentdiv1{display: block;
  width: 100%;
  padding: 0;}
  /* .imgcontentdiv{display: none;} */
  .header{  width: 100%;
    height: fit-content;}
    .textcontentdiv{ min-height: 100%; margin-top: 20%;
    }
    .ytframe{margin-top: 20%; margin: auto;
    }
    .imgcontentdiv {margin-top: 20%;height: 20em;}
    .headerdiv img {
      height: 100%;
      width: 100px;
    }
    .header{
    width: 100%;
    height: fit-content;
    }
  .headertext{
    height: 70px;
    width: 70px;
  }
  .headertext h2{
    visibility: hidden;
  }
  .headerdiv img {
    height: 100%;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg,#d9d9d9 0%,#f6f2f2 74%);
    clip-path: circle();
    margin: auto;
  }
    
}
@media only screen and (min-width: 769px) {
  .maindiv{position: absolute;}
  .contentdiv1{display: flex;
  width: 80%;
  padding: 1em;
  margin: auto;}
  .header{  width: 80%;
    height: 100px;}
    .textcontentdiv{  min-height: 100%;  margin: 0 1em;}
  .imgcontentdiv{margin: 0 1em;}

  .headerdiv img {
    height: 100%;
    width: 170px;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg,#d9d9d9 0%,#f6f2f2 74%);
    clip-path: circle();
  }
}

html{
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}


.headertext{
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg,#d9d9d9 0%,#f6f2f2 74%);
  width: 100%;
  display: inline-flex;
  border-radius: 30px;
  padding-left: 30px;
}
.headertext h1
{
  margin: 15px;
}
h3{
  margin: auto;
  align-content: center;
}
.contentdiv1{
  align-content: center;
  min-height: fit-content;
}
p{
  justify-content: center;
}
.headertext h2{
  padding-left: 50px;
  padding-top: 10px;
}
.maindiv{
  height: 100%;
  width: 100%;
}
.headerdiv{
  width: 100%;
}
.header{
  left: calc((50vw - 50%) * -1); /* add negative value equal to half of the scrollbar width if any */
  transform: translate(calc(50vw - 50%));
  border-radius: 30px;
  position: fixed;
  display: flex;
  background-color: transparent;
  /*background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);*/
}


.textcontentdiv{
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  /* important */
  border-radius: 30px;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  box-shadow: 0px 30x 50px rgba(0, 0, 0, 0.2);
  min-height: fit-content;
}
.spacer{
  width: 100%;
  height: 150px;
}
.imgcontentdiv{
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  min-height: 100%;
  border-radius: 30px;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  box-shadow: 0px 30x 50px rgba(0, 0, 0, 0.2);
}
.imgcontentdiv img {
  height: 100%;
  width: 100%;
}
.contentdiv1{
  background: transparent;
  align-items: stretch;
  justify-content: space-around;
}

.outer{
  border-radius: 15px;
}

p{
  padding-left: 30px;
  padding-right: 30px;
}
#header_wrap{
  width: 80%;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.courseldiv{  
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
}
.carousel{
  max-width: 90%;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px 0;
  line-height: 20px;
  font-size: 90px;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
.cardheader{
  font-size: 0.3em;
  padding: 10px;
  vertical-align: middle;
}
.teamp{
  text-justify: inter-word;
  font-size: 0.2em;
  padding: 10px;
  margin: 0px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 15px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #d8d3d0!important;
  box-shadow: 0px 10px 30px rgba(255, 94, 19, 0.39);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: linear-gradient(315deg, #e27250 0%, #d3ad3c 74%)!important;
}


